body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    }

input[type="text"],input[type="password"], input[type="tel"]{
    outline: none;
    padding: 10px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
}

input[type="submit"]{
    padding: 10px;
    color: #fff;
    background: #0098cb;
    width: 220px;
    margin: 10px auto;
    margin-top: 0px;
    border: 0;
    border-radius: 23px;
    cursor: pointer;

}

input[type="submit"]:hover{
    background: #00b8eb;
}

header{
    border-bottom: 2px solid #eee;
    padding: 20px 0px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

header a{
    text-decoration: none;
    color: #333;
}


